<div class="flex justify-center">
  <div
    class="flex justify-center items-center bg-violet-200 rounded-full p-4 w-[30%] gap-x-4"
  >
    <select
      class="bg-transparent outline-none text-lg w-[90%]"
      [(ngModel)]="research"
      (change)="searchWeather()"
    >
      <option value="" disabled selected>Choisissez une commune</option>
      <option value="Nantes">Nantes</option>
      <option value="Angers">Angers</option>
      <option value="Le-Mans">Le-Mans</option>
      <option value="Saint-Nazaire">Saint-Nazaire</option>
      <option value="Roche-Sur-Yon">Roche-Sur-Yon</option>
      <option value="Cholet">Cholet</option>
      <option value="Rezé">Rezé</option>
    </select>
  </div>
</div>
<div *ngIf="research" class="space-y-8 w-[60%] mx-auto h-[90%]">
  <div *ngIf="weatherData" class="weather-container flex justify-center">
    <div class="weather-info flex items-center space-x-8">
      <div class="weather-icon text-6xl text-sky-300">
        <fa-icon [icon]="getWeatherIcon(weatherData.type)"></fa-icon>
      </div>
      <div class="text-xl">
        <h2 class="font-bold pb-10">{{ weatherData.municipality.name }}</h2>
        <p>Date: {{ weatherData.date }}</p>
        <p>Température: {{ weatherData.temperature }}°C</p>
        <p>Humidité: {{ weatherData.humidity }}%</p>
        <p>Pression: {{ weatherData.atmosphericPressure }} hPa</p>
        <p>Probabilité de pluie: {{ weatherData.probaRain }}%</p>
      </div>
    </div>
    <div class="mt-10 text-center flex items-center space-x-2">
      <div
        class="arrow text-6xl"
        [ngStyle]="{
          transform: 'rotate(' + (weatherData.dirWind + 90) + 'deg)'
        }"
      >
        &#10148;
      </div>
      <div class="text-xl justify-start">
        <p>Direction du vent : {{ weatherData.dirWind }}°</p>
        <p>Vitesse: {{ weatherData.wind }} km/h</p>
      </div>
    </div>
  </div>
</div>
