<!-- affichage conditionnel si l'utilisateur/l'admin est connecté -->
<div class="underline text-blue-300 font-bold pl-80">+ Créer votre sujet de discussion</div>
<!--  -->

<div class="space-y-8 pr-80 pl-80 pt-14" >
  <!-- Sujet 1 -->
  <div class="border p-4 rounded-md shadow-md flex justify-between items-end bg-green-100 rounded-3xl">
    <div>
      <h2 class="text-xl font-semibold">Sujet 1</h2>
      <p class="mt-5 ml-28 text-gray-600">Début de la description pour le sujet 1.</p>
    </div>
    <button
    [routerLink]="['/detailsSubject']"
    class="text-blue-500 hover:text-blue-700 font-bold text-3xl pr-3"
    >+</button>
  </div>

  <!-- Sujet 2 -->
  <div class="border p-4 rounded-md shadow-md flex justify-between items-end bg-green-100 rounded-3xl">
    <div>
      <h2 class="text-xl font-semibold">Sujet 2</h2>
      <p class="mt-5 ml-28 text-gray-600">Début de la description pour le sujet 2.</p>
    </div>
    <button class="text-blue-500 hover:text-blue-700 font-bold text-3xl pr-3">+</button>
  </div>

  <!-- Sujet 3 -->
  <div class="border p-4 rounded-md shadow-md flex justify-between items-end bg-green-100 rounded-3xl">
    <div>
      <h2 class="text-xl font-semibold">Sujet 3</h2>
      <p class="mt-5 ml-28 text-gray-600">Début de la description pour le sujet 3.</p>
    </div>
    <button class="text-blue-500 hover:text-blue-700 font-bold text-3xl pr-3">+</button>
  </div>

  <!-- Sujet 4 -->
  <div class="border p-4 rounded-md shadow-md flex justify-between items-end bg-green-100 rounded-3xl">
    <div>
      <h2 class="text-xl font-semibold">Sujet 4</h2>
      <p class="mt-5 ml-28 text-gray-600">Début de la description pour le sujet 4.</p>
    </div>
    <button class="text-blue-500 hover:text-blue-700 font-bold text-3xl pr-3">+</button>
  </div>

  <!-- Sujet 5 -->
  <div class="border p-4 rounded-md shadow-md flex justify-between items-end bg-green-100 rounded-3xl">
    <div>
      <h2 class="text-xl font-semibold">Sujet 5</h2>
      <p class="mt-5 ml-28 text-gray-600">Début de la description pour le sujet 5.</p>
    </div>
    <button class="text-blue-500 hover:text-blue-700 font-bold text-3xl pr-3">+</button>
  </div>
</div>
