<div class="space-y-8 pr-80 pl-80 pt-14" >


    <div class="border p-4 rounded-md shadow-md flex justify-between items-center bg-green-100 rounded-3xl">

        <div >
          <h2 class="text-xl font-semibold">Utilisateur 1</h2>
        </div>
        <div class="flex space-x-4" >
          <button class="bg-red-500 text-white px-4 py-2 rounded-md">Supprimer</button>
          <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Réintégrer</button>
        </div>
  </div>

  <div class="border p-4 rounded-md shadow-md flex justify-between items-center bg-green-100 rounded-3xl">

    <div >
      <h2 class="text-xl font-semibold">Utilisateur 2</h2>
    </div>
    <div class="flex space-x-4" >
      <button class="bg-red-500 text-white px-4 py-2 rounded-md">Supprimer</button>
      <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Réintégrer</button>
    </div>
</div>

<div class="border p-4 rounded-md shadow-md flex justify-between items-center bg-green-100 rounded-3xl">

  <div >
    <h2 class="text-xl font-semibold">Utilisateur 3</h2>
  </div>
  <div class="flex space-x-4" >
    <button class="bg-red-500 text-white px-4 py-2 rounded-md">Supprimer</button>
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Réintégrer</button>
  </div>
</div>

<div class="border p-4 rounded-md shadow-md flex justify-between items-center bg-green-100 rounded-3xl">

  <div >
    <h2 class="text-xl font-semibold">Utilisateur 4</h2>
  </div>
  <div class="flex space-x-4" >
    <button class="bg-red-500 text-white px-4 py-2 rounded-md">Supprimer</button>
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Réintégrer</button>
  </div>
</div>

