.airquality-container {
  background-color: #e8ffe4;
  border: 2px solid #6aa84f;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 5%;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-green-500 {
  background-color: #38a169;
  border-color: #2b794f;
}

.bg-yellow-500 {
  background-color: #ecc94b;
  border-color: #bb9f3b;
}

.bg-orange-500 {
  background-color: #f6ad55;
  border-color: #9c6e36;
}

.bg-red-500 {
  background-color: #f56565;
  border-color: #b34b4b;
}

.bg-purple-500 {
  background-color: #9f7aea;
  border-color: #654f92;
}

.bg-gray-800 {
  background-color: #2d3748;
  border-color: #1a1f29;
  color: white;
}
