<div class="flex justify-center">
  <div class="flex justify-center bg-violet-200 rounded-full p-4 gap-4">
    <select class="bg-transparent" [(ngModel)]="research">
      <option value="" disabled selected>Choisissez une comune</option>
      <option value="Nantes">Nantes</option>
      <option value="Angers">Angers</option>
      <option value="Le-Mans">Le-Mans</option>
      <option value="Saint-Nazaire">Saint-Nazaire</option>
      <option value="Roche-Sur-Yon">Roche-Sur-Yon</option>
      <option value="Cholet">Cholet</option>
      <option value="Rezé">Rezé</option>
    </select>
    <button (click)="loadAirQualities()">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<div class="mt-10">
  <div
    class="airquality-container mt-4 p-6 bg-white shadow rounded-lg"
    *ngIf="airQuality"
  >
    <h3 class="text-2xl font-bold mb-4">
      {{ airQuality.municipality.name }} - {{ airQuality.date }}
    </h3>
    <ul class="space-y-2">
      <li>AQI: {{ airQuality.aqi }}</li>
      <li *ngFor="let particle of airQuality.particles" class="text-lg">
        <span class="font-semibold">{{ particle.name }}:</span>
        {{ particle.quantity }}
      </li>
    </ul>
  </div>
</div>
