<div class="space-y-8 pr-80 pl-80 pt-14" >
  <!-- Sujet 1 -->
  <div class="border p-4 rounded-md shadow-md flex justify-between items-end bg-green-100 rounded-3xl">

      <div class="flex flex-col flex-1">
          <h2 class="text-xl font-semibold pt-2 pb-10 text-green-800">Nom Sujet</h2>

          <div class="flex pb-8">
            <div class="flex flex-col text-left">
              <h2 class="font-semibold ">Prenom Nom</h2>
              <span class=" font-semibold pl-6">Ville</span>
            </div>
            <div class="flex-1 pl-4">
              <p class=" text-gray-600">Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1.Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujDébut de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujDébut de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujDébut de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujDébut de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le suj</p>
            </div>
            <!-- <div class="flex justify-end items-end pt-8 pr-10"> -->
              <!-- @if(!heart){
              <img  (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas.png" alt="">
            }
            @if(heart){
              <img (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas-bleu.png" alt="">
            } -->
            <!-- @if(!thumbsUp){
              <img  (click)="onClickLike(id)" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut.png" alt="">
            }
            @if(thumbsUp){
              <img (click)="onClickLike(id)" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut-bleu.png" alt="">
            }
            </div> -->
          </div>

          <div class="flex pb-8">
            <div class="flex flex-col text-left">
              <h2 class="font-semibold ">Prenom Nom</h2>
              <span class=" font-semibold pl-6">Ville</span>
            </div>
            <div class="flex-1 pl-4">
              <p class=" text-gray-600">Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1.</p>
            </div>
            <!-- <div class="flex justify-end items-end pt-8 pr-10"> -->
              <!-- @if(!heart){
              <img  (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas.png" alt="">
            }
            @if(heart){
              <img (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas-bleu.png" alt="">
            }
            @if(!heart){
              <img  (click)="onClickLike()" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut.png" alt="">
            }
            @if(heart){
              <img (click)="onClickLike()" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut-bleu.png" alt="">
            } -->
            <!-- </div> -->
          </div>

          <div class="flex pb-8">
            <div class="flex flex-col text-left">
              <h2 class="font-semibold ">Prenom Nom</h2>
              <span class=" font-semibold pl-6">Ville</span>
            </div>
            <div class="flex-1 pl-4">
              <p class=" text-gray-600">Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1.</p>
            </div>
            <!-- <div class="flex justify-end items-end pt-8 pr-10"> -->
              <!-- @if(!heart){
              <img  (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas.png" alt="">
            }
            @if(heart){
              <img (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas-bleu.png" alt="">
            }
            @if(!heart){
              <img  (click)="onClickToggle()" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut.png" alt="">
            }
            @if(heart){
              <img (click)="onClickToggle()" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut-bleu.png" alt="">
            } -->
            <!-- </div> -->
          </div>

          <div class="flex pb-8">
            <div class="flex flex-col text-left">
              <h2 class="font-semibold ">Prenom Nom</h2>
              <span class=" font-semibold pl-6">Ville</span>
            </div>
            <div class="flex-1 pl-4">
              <p class=" text-gray-600">Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1.</p>
            </div>
            <!-- <div class="flex justify-end items-end pt-8 pr-10"> -->
              <!-- @if(!heart){
              <img  (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas.png" alt="">
            }
            @if(heart){
              <img (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas-bleu.png" alt="">
            }
            @if(!heart){
              <img  (click)="onClickToggle()" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut.png" alt="">
            }
            @if(heart){
              <img (click)="onClickToggle()" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut-bleu.png" alt="">
            } -->
            <!-- </div> -->
          </div>

          <div class="flex pb-8">
            <div class="flex flex-col text-left">
              <h2 class="font-semibold ">Prenom Nom</h2>
              <span class=" font-semibold pl-6">Ville</span>
            </div>
            <div class="flex-1 pl-4">
              <p class=" text-gray-600">Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1Début de la description pour le sujet 1.</p>
            </div>
            <!-- <div class="flex justify-end items-end pt-8 pr-10"> -->
              <!-- @if(!heart){
              <img  (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas.png" alt="">
            }
            @if(heart){
              <img (click)="onClickToggle()" class="w-7 h-7 cursor-pointer" src="assets/pouce-bas-bleu.png" alt="">
            }
            @if(!heart){
              <img  (click)="onClickToggle()" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut.png" alt="">
            }
            @if(heart){
              <img (click)="onClickToggle()" class="w-5 h-5 cursor-pointer" src="assets/pouce-haut-bleu.png" alt="">
            } -->
            <!-- </div> -->
          </div>

          <div>
            <form [formGroup]="messageForm" (ngSubmit)="submitMessage()">
              <input formControlName="message" class="w-[80%] ml-[8%] bg-green-100 text-gray-600 focus:outline-none" type="text" placeholder="Taper votre message...">
              <button type="submit" class="border rounded-md p-1 bg-gray-900 text-white text-sm hover:bg-gray-600 ml-2">Envoyer</button>
            </form>
          </div>
  </div>
</div>
