<div class="space-y-8 pr-80 pl-80 pt-14" >
  <!-- Sujet 1 -->
  <div class="border p-4 rounded-md shadow-md flex justify-between items-end bg-green-100 rounded-3xl">

      <div class="flex flex-col flex-1">
        <h2 class="text-xl font-semibold pt-2 pb-10 text-green-800">{{subject?.title}}</h2>
          @for(message of subject?.messages; track $index){
            <app-user-message [message]="message" ></app-user-message>
          }
          <div>
            <form [formGroup]="messageForm" (ngSubmit)="submitMessage()">
              <input formControlName="message" class="w-[80%] ml-[8%] bg-green-100 text-gray-600 focus:outline-none" type="text" placeholder="Taper votre message...">
              <button type="submit" class="border rounded-md p-1 bg-gray-900 text-white text-sm hover:bg-gray-600 ml-2">Envoyer</button>
            </form>
          </div>
  </div>
</div>
